
:root {
  --light-green: #299;
  --dark-green: #277;
}

.App {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  min-height: 100vh;

}

.content {
  flex: 1 1 auto;
  
}
